<div class="box">
    <form #f="ngForm" (onSubmit)="enviar(f)">
    <div  class="row">           
        <div class="col-sm" >
            <label>Cep : </label>
            <input type="text" class="form-control" name='cep' id="cep" placeholder="Usuario" [(ngModel)]='usuario.endereco.cep'  #cep="ngModel" required
            [class.erro]='!cep.valid && cep.touched' (blur)='consultaCep($evento.target.value)'>
        </div>
        <div class="col-sm" >
                <label> Bairro : </label>
                <input type="text" class="form-control" name='bairro' id="bairro" placeholder="Bairro" [(ngModel)]='usuario.endereco.bairro'  #bairro="ngModel" required 
                [class.erro]='!bairro.valid && bairro.touched'>
            </div>
            <div class="col-sm" >
                    <label>Rua : </label>
                    <input type="text" class="form-control" name='rua' id="rua" placeholder="Rua" [(ngModel)]='usuario.endereco.rua'  #rua="ngModel" required 
                    [class.erro]='!rua.valid && rua.touched'>
                    
            </div>
    </div>
    {{ usuario | json }}   
<br>
    <button type="submit"  class='btn btn-primary' [disabled]='!f.valid'>enviar</button>
</form>
</div>