.margen_1{
    margin-top: 3%;
}
.font-r{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3%;
    margin-left: 20%;
}
.margem{
    margin-left: 20%;
    margin-top: 6%;
    border-image: 10%;
}