/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
}
.img-tamanho{
    width: 200px;    /* largura da imagem */
    margin-left: 2%;
    height: 300px; 
    border: whitesmoke;
}